<launch>
  <arg name="config_file" default="$(find relay_racer_integration)/config/real_platform_min.yaml"/>
  <arg name="racer_drone_id" default="1"/>
  <arg name="racer_drone_num" default="3"/>
  <arg name="map_size_x" default="180.0"/>
  <arg name="map_size_y" default="30.0"/>
  <arg name="map_size_z" default="3.0"/>
  <arg name="init_x" default="10.0"/>
  <arg name="init_y" default="0.0"/>
  <arg name="init_z" default="1.0"/>
  <arg name="trigger_required" default="false"/>
  <arg name="trigger_wait_for_relay_cmd" default="true"/>
  <arg name="trigger_shutdown_on_finish" default="false"/>
  <arg name="trigger_finish_deadline" default="30.0"/>
  <arg name="trigger_goal_deadline" default="11.0"/>
  <arg name="trigger_failure_deadline" default="45.0"/>
  <arg name="trigger_goal_republish_period" default="1.0"/>
  <arg name="trigger_republish_without_relay" default="false"/>
  <arg name="relay_policy_mode" default="rule"/>
  <arg name="relay_max_occupancy_ratio" default="0.5"/>
  <arg name="monitor_report_path" default=""/>
  <arg name="monitor_summary_period" default="2.0"/>
  <arg name="monitor_metric_sample_period" default="0.5"/>
  <arg name="monitor_pre_window_sec" default="5.0"/>
  <arg name="monitor_post_window_sec" default="5.0"/>
  <arg name="monitor_planning_agent_ids" default="1,2,3,4"/>
  <arg name="monitor_require_pos_cmd" default="true"/>
  <arg name="monitor_frontier_completion_threshold" default="-1"/>
  <arg name="monitor_frontier_topic" default="/planning_vis/frontier_$(arg racer_drone_id)"/>
  <arg name="monitor_swarm_comm_state_topic" default="/relay_integration/swarm_comm_state"/>
  <arg name="monitor_task_metrics_topic" default="/relay_integration/task_metrics"/>
  <arg name="box_min_x" default="-5.0"/>
  <arg name="box_min_y" default="-10.0"/>
  <arg name="box_min_z" default="0.0"/>
  <arg name="box_max_x" default="160.0"/>
  <arg name="box_max_y" default="10.0"/>
  <arg name="box_max_z" default="2.0"/>

  <param name="/use_sim_time" value="true"/>

  <node pkg="coordinator" type="coordinator" name="coordinator" output="screen">
    <env name="ROS_WS" value="/home/zby/relay_explore_ws"/>
    <param name="config_file" value="$(arg config_file)"/>
  </node>

  <node pkg="mini_dancers" type="mini_dancers_velocity" name="mini_dancers_velocity" output="screen">
    <env name="ROS_WS" value="/home/zby/relay_explore_ws"/>
    <param name="config_file" value="$(arg config_file)"/>
  </node>

  <node pkg="ns3_connector"
        type="basic_wifi_adhoc_with_controller"
        name="basic_wifi_adhoc_with_controller"
        output="screen">
    <env name="ROS_WS" value="/home/zby/relay_explore_ws"/>
    <param name="config_file" value="$(arg config_file)"/>
  </node>

  <node pkg="relay_racer_integration" type="racer_comm_controller_node" name="racer_comm_controller" output="screen">
    <rosparam command="load" file="$(find relay_racer_integration)/config/relay_rules.yaml"/>
    <param name="id_offset" value="-1"/>
    <param name="prefer_service_input" value="true"/>
    <param name="service_input_timeout_sec" value="1.0"/>
    <param name="relay_policy_mode" value="$(arg relay_policy_mode)"/>
    <param name="relay_max_occupancy_ratio" value="$(arg relay_max_occupancy_ratio)"/>
  </node>

  <node pkg="map_generator" name="random_forest" type="random_forest" output="screen">
    <remap from="~odometry" to="empty"/>
    <param name="init_state_x" value="$(arg init_x)"/>
    <param name="init_state_y" value="$(arg init_y)"/>
    <param name="map/x_size" value="$(arg map_size_x)"/>
    <param name="map/y_size" value="$(arg map_size_y)"/>
    <param name="map/z_size" value="$(arg map_size_z)"/>
    <param name="map/resolution" value="0.1"/>
    <param name="ObstacleShape/seed" value="1"/>
    <param name="map/obs_num" value="0"/>
    <param name="map/circle_num" value="0"/>
    <param name="ObstacleShape/lower_rad" value="0.5"/>
    <param name="ObstacleShape/upper_rad" value="0.8"/>
    <param name="ObstacleShape/lower_hei" value="0.0"/>
    <param name="ObstacleShape/upper_hei" value="3.0"/>
    <param name="ObstacleShape/radius_l" value="0.7"/>
    <param name="ObstacleShape/radius_h" value="0.8"/>
    <param name="ObstacleShape/z_l" value="0.7"/>
    <param name="ObstacleShape/z_h" value="0.8"/>
    <param name="ObstacleShape/theta" value="0.5"/>
    <param name="sensing/radius" value="5.0"/>
    <param name="sensing/rate" value="10.0"/>
  </node>

  <include file="$(find exploration_manager)/launch/single_drone_planner_realworld.xml">
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="drone_id" value="$(arg racer_drone_id)"/>
    <arg name="drone_num" value="$(arg racer_drone_num)"/>
    <arg name="odometry_topic" value="/relay_odom_$(arg racer_drone_id)"/>
    <arg name="sensor_pose_topic" value="/pcl_render_node/sensor_pose_$(arg racer_drone_id)"/>
    <arg name="depth_topic" value="/pcl_render_node/depth_$(arg racer_drone_id)"/>
    <arg name="cloud_topic" value="/pcl_render_node/cloud_$(arg racer_drone_id)"/>
    <arg name="cx" value="324.0879821777344"/>
    <arg name="cy" value="239.10362243652344"/>
    <arg name="fx" value="385.69793701171875"/>
    <arg name="fy" value="385.69793701171875"/>
    <arg name="max_vel" value="1.0"/>
    <arg name="max_acc" value="1.0"/>
    <arg name="simulation" value="true"/>
    <arg name="single_expo" value="false"/>
    <arg name="box_min_x" value="$(arg box_min_x)"/>
    <arg name="box_min_y" value="$(arg box_min_y)"/>
    <arg name="box_min_z" value="$(arg box_min_z)"/>
    <arg name="box_max_x" value="$(arg box_max_x)"/>
    <arg name="box_max_y" value="$(arg box_max_y)"/>
    <arg name="box_max_z" value="$(arg box_max_z)"/>
  </include>

  <node pkg="plan_manage" name="traj_server_$(arg racer_drone_id)" type="traj_server" output="screen">
    <remap from="/odom_world" to="/relay_odom_$(arg racer_drone_id)"/>
    <remap from="/planning/bspline" to="/planning/bspline_$(arg racer_drone_id)"/>
    <remap from="/planning/replan" to="/planning/replan_$(arg racer_drone_id)"/>
    <remap from="/planning/new" to="/planning/new_$(arg racer_drone_id)"/>
    <remap from="/position_cmd" to="planning/pos_cmd_$(arg racer_drone_id)"/>
    <remap from="planning/position_cmd_vis" to="planning/position_cmd_vis_$(arg racer_drone_id)"/>
    <remap from="planning/travel_traj" to="planning/travel_traj_$(arg racer_drone_id)"/>
    <param name="traj_server/time_forward" value="1.5" type="double"/>
    <param name="traj_server/pub_traj_id" value="4" type="int"/>
    <param name="traj_server/drone_id" value="$(arg racer_drone_id)" type="int"/>
    <param name="traj_server/drone_num" value="$(arg racer_drone_num)" type="int"/>
    <param name="perception_utils/top_angle" value="0.56125" type="double"/>
    <param name="perception_utils/left_angle" value="0.69222" type="double"/>
    <param name="perception_utils/right_angle" value="0.68901" type="double"/>
    <param name="perception_utils/max_dist" value="4.5" type="double"/>
    <param name="perception_utils/vis_dist" value="1.0" type="double"/>
  </node>

  <include file="$(find exploration_manager)/launch/simulator_light.xml">
    <arg name="drone_id" value="$(arg racer_drone_id)"/>
    <arg name="drone_num" value="$(arg racer_drone_num)"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="$(arg init_y)"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odometry_topic" value="/relay_odom_$(arg racer_drone_id)"/>
  </include>

  <node pkg="relay_racer_integration" type="relay_validation_monitor.py" name="relay_validation_monitor" output="screen">
    <param name="agent_id" value="$(arg racer_drone_id)"/>
    <param name="relay_role_topic" value="/relay_integration/relay_role_cmd"/>
    <param name="planning_new_topic" value="/planning/new_$(arg racer_drone_id)"/>
    <param name="planning_bspline_topic" value="/planning/bspline_$(arg racer_drone_id)"/>
    <param name="planning_pos_cmd_topic" value="/planning/pos_cmd_$(arg racer_drone_id)"/>
    <param name="frontier_topic" value="$(arg monitor_frontier_topic)"/>
    <param name="swarm_comm_state_topic" value="$(arg monitor_swarm_comm_state_topic)"/>
    <param name="task_metrics_topic" value="$(arg monitor_task_metrics_topic)"/>
    <param name="report_path" value="$(arg monitor_report_path)"/>
    <param name="summary_period" value="$(arg monitor_summary_period)"/>
    <param name="metric_sample_period" value="$(arg monitor_metric_sample_period)"/>
    <param name="pre_window_sec" value="$(arg monitor_pre_window_sec)"/>
    <param name="post_window_sec" value="$(arg monitor_post_window_sec)"/>
    <param name="planning_agent_ids" value="$(arg monitor_planning_agent_ids)"/>
    <param name="require_pos_cmd" value="$(arg monitor_require_pos_cmd)"/>
    <param name="frontier_completion_threshold" value="$(arg monitor_frontier_completion_threshold)"/>
  </node>

  <node pkg="relay_racer_integration"
        type="relay_closed_loop_test_node"
        name="relay_goal_trigger"
        output="screen"
        required="$(arg trigger_required)">
    <param name="test_agent_id" value="$(arg racer_drone_id)"/>
    <param name="publish_fake_odom" value="false"/>
    <param name="call_test_service" value="false"/>
    <param name="wait_for_relay_cmd" value="$(arg trigger_wait_for_relay_cmd)"/>
    <param name="goal_deadline" value="$(arg trigger_goal_deadline)"/>
    <param name="finish_deadline" value="$(arg trigger_finish_deadline)"/>
    <param name="failure_deadline" value="$(arg trigger_failure_deadline)"/>
    <param name="shutdown_on_finish" value="$(arg trigger_shutdown_on_finish)"/>
    <param name="goal_republish_period" value="$(arg trigger_goal_republish_period)"/>
    <param name="republish_goal_without_relay" value="$(arg trigger_republish_without_relay)"/>
    <param name="goal_x" value="1.0"/>
    <param name="goal_y" value="0.0"/>
    <param name="goal_z" value="1.0"/>
  </node>
</launch>
